<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4">{{ title }}</span>

  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography mb-3 mt-1">
  <p class="text-dark">
    {{ message }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="primary-light-button me-2"
    mat-button
    [mat-dialog-close]="true"
  >
    Oui
  </button>
  <button class="primary-dark-button" mat-button [mat-dialog-close]="false">
    Non
  </button>
</mat-dialog-actions>
