<app-base></app-base>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <!-- Section Utilisateurs -->
  <span class="small text-dark pb-0 mb-0">Utilisateurs</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Total admin Card -->
          <app-basic-card
            card_title="Admins"
            card_value="100"
            card_icon_class="bi-person-fill"
            card_icon_color="text-dark"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Total Admin Card -->

          <!-- Utilisateurs MyDirectCash Card -->
          <app-basic-card
            card_title="MyDirectCash"
            card_value="100"
            card_icon_class="bi-person-fill"
            card_icon_color="text-orange"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Utilisateurs MyDirectCash Card -->

          <!-- Utilisateurs DirectCash Card -->
          <app-basic-card
            card_title="DirectCash"
            card_value="100"
            card_icon_class="bi-person-fill"
            card_icon_color="text-primary"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Utilisateurs DirectCash Card -->

          <!-- Total comptable Card -->
          <app-basic-card
            card_title="Comptables"
            card_value="750"
            card_icon_class="bi-person-fill"
            card_icon_color="text-warning"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total comptable Card -->

          <!-- Total Operateurs Card -->
          <app-basic-card
            card_title="Operateurs"
            card_value="500"
            card_icon_class="bi-person-fill"
            card_icon_color="text-danger"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total Operateurs Card -->

          <!-- Total Superviseurs Card -->
          <app-basic-card
            card_title="Superviseurs"
            card_value="500"
            card_icon_class="bi-person-fill"
            card_icon_color="text-success"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total Superviseurs Card -->

          <!-- Total Auditeurs Card -->
          <app-basic-card
            card_title="Auditeurs"
            card_value="500"
            card_icon_class="bi-person-fill"
            card_icon_color="text-violet"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total Auditeurs Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>

  <!-- Section Transactions -->
  <span class="small text-dark pb-0 mb-0">Transactions</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Total Transactions Card -->
          <app-basic-card
            card_title="Total"
            card_value="100M"
            card_icon_class="bi-arrow-left-right"
            card_icon_color="text-dark"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Transactions Card -->

          <!-- Transactions Reussies Card -->
          <app-basic-card
            card_title="Réussies "
            card_value="100"
            card_icon_class="bi-arrow-left-right"
            card_icon_color="text-success"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Transactions Reussies Card -->

          <!-- Transactions Echouées Card -->
          <app-basic-card
            card_title="Echouées "
            card_value="100"
            card_icon_class="bi-arrow-left-right"
            card_icon_color="text-danger"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Transactions Echouées Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>

  <!-- Section Commissions -->
  <span class="small text-dark pb-0 mb-0">Commissions</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Total Commissions Card -->
          <app-basic-card
            card_title="Total"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-dark"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Card -->

          <!-- Commissions MyDirectCash Card -->
          <app-basic-card
            card_title="MyDirectCash"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions MyDirectCash Card -->

          <!-- Commissions DirectCash Card -->
          <app-basic-card
            card_title="DirectCash"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions DirectCash Card -->

          <!-- Commissions Partenaires Card -->
          <app-basic-card
            card_title="Partenaires"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Partenaires Card -->

          <!-- Commissions Montant TTA Card -->
          <app-basic-card
            card_title="Montant TTA"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Montant TTA Card -->

          <!-- Commissions Montant TVA Card -->
          <app-basic-card
            card_title="Montant TVA"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Montant TVA Card -->

          <!-- Commissions Net Card -->
          <app-basic-card
            card_title="Net"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Net Card -->

           <!-- Notifications SMS Card -->
           <app-basic-card
           card_title="Notifications SMS"
           card_value="100M"
           card_icon_class="bi-currency-exchange"
           card_icon_color="text-tertiary"
           class="col-xxl-3 col-md-3 col-sm-6"
         >
         </app-basic-card>
         <!-- End Notifications SMS Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>
</main>
<!-- End #main -->
