<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <!-- Section Utilisateurs -->
  <span class="small text-dark pb-0 mb-0">Utilisateurs</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Total admin Card -->
          <app-basic-card
            [isloading]="isAdminUserLoading"
            card_title="Administrateurs"
            [card_value]="admin_user.toString()"
            card_icon_class="bi-person-fill"
            card_icon_color="text-dark"
            class="col-xxl-4 col-md-4"
          />

          <!-- Utilisateurs MyDirectCash Card -->
          <app-basic-card
            card_title="MyDirectCash"
            [isloading]="isMyDirectcashUserLoading"
            [card_value]="myDirectCash_user.toString()"
            card_icon_class="bi-person-fill"
            card_icon_color="text-orange"
            class="col-xxl-4 col-md-4"
          />

          <!-- Utilisateurs DirectCash Card -->
          <app-basic-card
            card_title="DirectCash"
            [isloading]="isDirectcashUserLoading"
            [card_value]="directCash_user.toString()"
            card_icon_class="bi-person-fill"
            card_icon_color="text-primary"
            class="col-xxl-4 col-md-4"
          />

          <!-- lister les profils de la bd ----------------------------------------->

          <!-- Total comptable Card -->
          <app-basic-card
            card_title="Comptables"
            card_value="750"
            card_icon_class="bi-person-fill"
            card_icon_color="text-warning"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total comptable Card -->

          <!-- Total Operateurs Card -->
          <app-basic-card
            card_title="Opérateurs"
            card_value="500"
            card_icon_class="bi-person-fill"
            card_icon_color="text-danger"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total Operateurs Card -->

          <!-- Total Superviseurs Card -->
          <app-basic-card
            card_title="Superviseurs"
            card_value="500"
            card_icon_class="bi-person-fill"
            card_icon_color="text-success"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total Superviseurs Card -->

          <!-- Total Auditeurs Card -->
          <app-basic-card
            card_title="Auditeurs"
            card_value="500"
            card_icon_class="bi-person-fill"
            card_icon_color="text-violet"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Total Auditeurs Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>

  <!-- Section Transactions -->
  <span class="small text-dark pb-0 mb-0">Transactions</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <mat-form-field class="w-100 rounded small" appearance="outline">
    <mat-select value="1">
      <mat-option value="1">Cette semaine</mat-option>
      <mat-option value="2">Ce mois</mat-option>
      <mat-option value="3">Cette année</mat-option>
    </mat-select>
  </mat-form-field>
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Total Transactions Card -->
          <app-basic-card
            card_title="Total"
            card_value="100M"
            card_icon_class="bi-arrow-left-right"
            card_icon_color="text-dark"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Transactions Card -->

          <!-- Transactions Reussies Card -->
          <app-basic-card
            card_title="Réussies "
            card_value="100"
            card_icon_class="bi-arrow-left-right"
            card_icon_color="text-success"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Transactions Reussies Card -->

          <!-- Transactions Echouées Card -->
          <app-basic-card
            card_title="Echouées "
            card_value="100"
            card_icon_class="bi-arrow-left-right"
            card_icon_color="text-danger"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Transactions Echouées Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>

  <!-- Section Commissions -->
  <span class="small text-dark pb-0 mb-0">Commissions</span>

  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <mat-form-field class="w-100 rounded small" appearance="outline">
    <mat-select value="1">
      <mat-option value="1">Cette semaine</mat-option>
      <mat-option value="2">Ce mois</mat-option>
      <mat-option value="3">Cette année</mat-option>
    </mat-select>
  </mat-form-field>
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Total Commissions Card -->
          <app-basic-card
            card_title="Total"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-dark"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Card -->

          <!-- Commissions MyDirectCash Card -->
          <app-basic-card
            card_title="MyDirectCash"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions MyDirectCash Card -->

          <!-- Commissions DirectCash Card -->
          <app-basic-card
            card_title="DirectCash"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions DirectCash Card -->

          <!-- Commissions Top Agent Card -->
          <app-basic-card
            card_title="Top Agent"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Partenaires Card -->

          <!-- Commissions Alliance Financial Card -->
          <app-basic-card
            card_title="Alliance Financial"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Net Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>

  <!-- Section en cours de la monnaie -->
  <span class="small text-dark pb-0 mb-0">Encours de la monnaie</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <mat-form-field class="w-100 rounded small" appearance="outline">
    <mat-select value="1">
      <mat-option value="1">Cette semaine</mat-option>
      <mat-option value="2">Ce mois</mat-option>
      <mat-option value="3">Cette année</mat-option>
    </mat-select>
  </mat-form-field>
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Stock de monnaie Card -->
          <app-basic-card
            card_title="Stock de monnaie"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Stock de monnaie Card -->

          <!-- Stock Directcash Card -->
          <app-basic-card
            card_title="Stock de monnaie"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Stock Directcash Card -->

          <!-- Stock MyDirectcash Card -->
          <app-basic-card
            card_title="Stock Directcash"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-4 col-md-4"
          >
          </app-basic-card>
          <!-- End Stock MyDirectcash Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>

  <!-- Section débours -->
  <span class="small text-dark pb-0 mb-0">Débours</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <mat-form-field class="w-100 rounded small" appearance="outline">
    <mat-select value="1">
      <mat-option value="1">Cette semaine</mat-option>
      <mat-option value="2">Ce mois</mat-option>
      <mat-option value="3">Cette année</mat-option>
    </mat-select>
  </mat-form-field>
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Commissions Montant TTA Card -->
          <app-basic-card
            card_title="Montant TTA"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Montant TTA Card -->

          <!-- Commissions Montant TVA Card -->
          <app-basic-card
            card_title="Montant TVA"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Commissions Montant TVA Card -->

          <!-- Notifications SMS Card -->
          <app-basic-card
            card_title="Notifications SMS"
            card_value="100M"
            card_icon_class="bi-currency-exchange"
            card_icon_color="text-tertiary"
            class="col-xxl-3 col-md-3 col-sm-6"
          >
          </app-basic-card>
          <!-- End Notifications SMS Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>

  <!-- Section Services -->
  <span class="small text-dark pb-0 mb-0">Services</span>
  <hr class="mt-1 mb-3 gec-color-middle-dark" />
  <section class="section dashboard">
    <div class="row">
      <!-- Content -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Achat de crédit & Data Orange Card -->
          <app-service-card
            card_title="Achat de Crédit & Data Orange"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Achat de crédit & Data Orange Card -->

          <!-- Achat de crédit & Data MTN Card -->
          <app-service-card
            card_title="Achat de Crédit & Data MTN"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Achat de crédit & Data MTN Card -->

          <!-- Achat de crédit & Data Orange ITU Card -->
          <app-service-card
            card_title="Achat de crédit & Data Orange ITU"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Achat de crédit & Data Orange ITU Card -->

          <!-- Achat de crédit & Data MTN ITU Card -->
          <app-service-card
            card_title="Achat de crédit & Data MTN ITU"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Achat de crédit & Data MTN ITU Card -->

          <!-- Achat de crédit & Data Nexttel Card -->
          <app-service-card
            card_title="Achat de crédit & Data Nexttel"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Achat de crédit & Data Nexttel Card -->

          <!-- Achat de crédit & Data Camtel Card -->
          <app-service-card
            card_title="Achat de crédit & Data Camtel"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Achat de crédit & Data Camtel Card -->

          <!-- Paiement Facture ENEO Card -->
          <app-service-card
            card_title="Paiement Facture ENEO"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Paiement Facture ENEO Card -->

          <!-- Paiement Facture CAMWATER Card -->
          <app-service-card
            card_title="Paiement Facture CAMWATER"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Paiement Facture CAMWATER Card -->

          <!-- Paiement Facture CANAL + Card -->
          <app-service-card
            card_title="Paiement Facture CANAL +"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Paiement Facture CANAL + Card -->

          <!-- Paiement MARCHAND Card -->
          <app-service-card
            card_title="Paiement MARCHAND"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Paiement MARCHAND Card -->

          <!-- Transfert d’argent DirectCash Card -->
          <app-service-card
            card_title="Transfert d’argent DirectCash"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Transfert d’argent DirectCash Card -->

          <!-- Transfert d’argent OM Card -->
          <app-service-card
            card_title="Transfert d’argent OM"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Transfert d’argent OM Card -->

          <!-- Transfert d’argent MOMO Card -->
          <app-service-card
            card_title="Transfert d’argent MOMO"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Transfert d’argent MOMO Card -->

          <!-- Collecte journalière DirectCash Card -->
          <app-service-card
            card_title="Collecte journalière DirectCash"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- End Collecte journalière DirectCash Card -->

          <!-- Recharges MyDirectCash par un POS Card -->
          <app-service-card
            card_title="Recharges MyDirectCash par un POS"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- Recharges MyDirectCash par un POS Card -->

          <!-- Recharges MyDirectCash en ligne Card -->
          <app-service-card
            card_title="Recharges MyDirectCash en ligne"
            left_side_frais="502K"
            left_side_operation="400"
            right_side_frais="500"
            right_side_operation="129"
            class="col-xxl-4 col-md-4 col-sm-6"
          ></app-service-card>
          <!-- Recharges MyDirectCash en ligne Card -->
        </div>
      </div>
      <!-- End Content -->
    </div>
  </section>
</main>
<!-- End #main -->
