<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <!-- Header ============================================= -->
  <span class="me-4">Mettre à jour le mot de passe</span>
  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>

<!-- Contens ============================================= -->
<mat-dialog-content class="mat-typography pb-0 p-3 pt-2">
  <span class="fs-6"
    >Il s'agit de votre première connexion. Veuillez mettre a jour votre mot de
    passz pour continuer
  </span>
  <form #form="ngForm" class="mt-3">
    <div class="row">
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Ancien mot de passe</mat-label>
        <input
          matInput
          required
          type="text"
          name="oldpassword"
          [(ngModel)]="oldpassword"
          [errorStateMatcher]="matcher"
          [formControl]="oldPasswordFormControl"
          placeholder="Entrez votre ancien mot de passe"
          ngModel
        />
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" color="warn">
        <mat-label>Nouveau mot de passe</mat-label>
        <input
          matInput
          required
          type="text"
          name="newpassword"
          [(ngModel)]="newpassword"
          [errorStateMatcher]="matcher"
          [formControl]="newPasswordFormControl"
          placeholder="Entrez votre nouveau mot de passe"
          ngModel
        />
      </mat-form-field> -->

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          placeholder="Cliquer à droite pour générer"
          [errorStateMatcher]="matcher"
          [formControl]="newPasswordFormControl"
          [(ngModel)]="newpassword"
          [readonly]="true"
        />

        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="generatePassword()"
        >
          <mat-icon>sync</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" color="warn">
        <mat-label>Confirmer le nouveau mot de passe </mat-label>
        <input
          matInput
          required
          type="text"
          name="confirmnewpassword"
          [(ngModel)]="confirmnewpassword"
          [errorStateMatcher]="matcher"
          [formControl]="confirmNewPasswordFormControl"
          placeholder="Entrez votre nouveau mot de passe"
          ngModel
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<!-- Actions ============================================= -->
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="w-100 primary-light-button"
    mat-button
    (click)="returnData()"
    [disabled]="
      oldPasswordFormControl.invalid ||
      newPasswordFormControl.invalid ||
      confirmNewPasswordFormControl.invalid
    "
  >
    Valider
  </button>
</mat-dialog-actions>
