<app-base></app-base>

<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Gestion de la monnaie</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Gestion de la monnaie</a>
          </li>
          <li class="breadcrumb-item active">Créditer un super agent</li>
        </ol>
      </nav>
    </div>

    <div>
      <button (click)="open_crediter_super_agent_dialog()" mat-raised-button class="primary-light-button text-center">
        Créditer un super agent
      </button>

      <!-- <button
        mat-raised-button
        (click)="open_export_dialog()"
        class="primary-dark-button text-center"
      >
        Exporter
      </button> -->
    </div>
  </div>
  <!-- End Page Title -->

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Merchant Column -->
      <ng-container matColumnDef="Super agent">
        <th mat-header-cell *matHeaderCellDef>Super agent</th>
        <td mat-cell *matCellDef="let element">{{ element.super_agent }}</td>
      </ng-container>

      <!-- Montant (XAF) Column -->
      <ng-container matColumnDef="Montant (XAF)">
        <th mat-header-cell *matHeaderCellDef>Montant (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.montant }}</td>
      </ng-container>

      <!-- Statut Column -->
      <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.statut }}</td>
      </ng-container>

      <!-- Crée par Column -->
      <ng-container matColumnDef="Crée par">
        <th mat-header-cell *matHeaderCellDef>Crée par</th>
        <td mat-cell *matCellDef="let element">{{ element.created_by }}</td>
      </ng-container>

      <!-- Crée le Column -->
      <ng-container matColumnDef="Crée le">
        <th mat-header-cell *matHeaderCellDef>Crée le</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <!-- Traité par Column -->
      <ng-container matColumnDef="Traité par">
        <th mat-header-cell *matHeaderCellDef>Traité par</th>
        <td mat-cell *matCellDef="let element">{{ element.treated_by }}</td>
      </ng-container>

      <!-- Traité le Column -->
      <ng-container matColumnDef="Traité le">
        <th mat-header-cell *matHeaderCellDef>Traité le</th>
        <td mat-cell *matCellDef="let element">{{ element.treated_at }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
