<!-- Header -->
<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4"><strong>ID Transaction: </strong>46456454TR</span>
  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>

<!-- Content -->
<mat-dialog-content class="mat-typography pb-1 p-3 pt-1">
  <form #add_agent_form="ngForm" >
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Agent</mat-label>
          <input matInput placeholder="Nom de l'agent" readonly/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Direct code</mat-label>
          <input matInput placeholder="Direct code" readonly/>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Montant (XAF)</mat-label>
          <input matInput placeholder="0.00" readonly/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Code PIN</mat-label>
          <input matInput placeholder="Code PIN" readonly/>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Expediteur</mat-label>
          <input matInput placeholder="Nom de l'expediteur" readonly/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Payeur</mat-label>
          <input matInput placeholder="Payeur" readonly/>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Commission</mat-label>
          <input matInput placeholder="Commission" readonly/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Raison de blocage</mat-label>
          <input matInput placeholder="Raison de blocage" readonly/>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Date & heure de l'opération</mat-label>
          <input matInput placeholder="Date & heure de l'opération" readonly/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Statut</mat-label>
          <input matInput placeholder="Statut" readonly/>
        </mat-form-field>
      </div>
    </div>
  </form>

</mat-dialog-content>

<!-- Button action -->
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button class="primary-dark-button" mat-button [mat-dialog-close]="false">
    Quitter
  </button>
</mat-dialog-actions>
