<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Rapports</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Rapports</a>
          </li>
          <li class="breadcrumb-item active">Transfert d'argent DirectCash</li>
        </ol>
      </nav>
    </div>

    <div class="d-sm-flex">
      <div class="input-group me-2">
        <input
          type="date"
          [(ngModel)]="filter_date_1"
          class="form-control h-100"
          placeholder="Username"
          aria-label="Username"
        />
        <span class="input-group-text h-100">à</span>
        <input
          type="date"
          [(ngModel)]="filter_date_2"
          class="form-control h-100"
          placeholder="Server"
          aria-label="Server"
        />
      </div>

      <button
        (click)="filter_date()"
        mat-raised-button
        class="primary-light-button text-center me-2"
      >
        <mat-icon class="me-0">filter_list</mat-icon>
      </button>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Total transaction</mat-label>
          <input matInput placeholder="0" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Transactions réussies</mat-label>
          <input matInput placeholder="0" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Transactions échouées</mat-label>
          <input matInput placeholder="0" readonly />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Transactions en attente</mat-label>
          <input matInput placeholder="0" readonly />
        </mat-form-field>
      </div>
    </div>

    <div class="container-fluid pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Loader de chargement du contenu du tableau -->
      <div
        class="d-{{ display }} align-items-center justify-content-center pb-3"
      >
        <mat-spinner diameter="25" class="me-3"></mat-spinner>
        Chargement...
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- expediteur Column -->
      <ng-container matColumnDef="expediteur">
        <th mat-header-cell *matHeaderCellDef>Agent / Particulier</th>
        <td mat-cell *matCellDef="let element">{{ element.agent }}</td>
      </ng-container>

      <!-- telephone Column -->
      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef>Téléphone</th>
        <td mat-cell *matCellDef="let element">{{ element.telephone }}</td>
      </ng-container>

      <!-- Montant (XAF) Column -->
      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef>Montant (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.montant }}</td>
      </ng-container>

      <!-- N° Destinataire Column -->
      <ng-container matColumnDef="destinataire">
        <th mat-header-cell *matHeaderCellDef>N° Destinataire</th>
        <td mat-cell *matCellDef="let element">{{ element.receiver }}</td>
      </ng-container>

      <!-- Tva Column -->
      <ng-container matColumnDef="tva">
        <th mat-header-cell *matHeaderCellDef>Montant TVA</th>
        <td mat-cell *matCellDef="let element">{{ element.tva }}</td>
      </ng-container>

      <!-- tta Column -->
      <ng-container matColumnDef="tta">
        <th mat-header-cell *matHeaderCellDef>Montant TTA</th>
        <td mat-cell *matCellDef="let element">{{ element.tta }}</td>
      </ng-container>

      <!-- Commission Column -->
      <ng-container matColumnDef="commissions">
        <th mat-header-cell *matHeaderCellDef>Commission</th>
        <td mat-cell *matCellDef="let element">{{ element.commission }}</td>
      </ng-container>

      <!-- Effectuée le Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Effectuée le</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <!-- Statut Column -->
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.statut }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
