<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Gestion de la monnaie</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Gestion de la monnaie</a>
          </li>
          <li class="breadcrumb-item active">Affectation de la monnaie</li>
        </ol>
      </nav>
    </div>
    <div>
      <button
        mat-raised-button
        (click)="open_export_dialog()"
        class="primary-dark-button text-center"
      >
        Exporter
      </button>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Loader pour les requetes -->
  <mat-progress-bar
    mode="indeterminate"
    [hidden]="isProgressHidden"
  ></mat-progress-bar>

  <!-- Alert section -->
  <div
    id="alert"
    class="d-none alert alert-{{
      alert_type
    }} alert-dismissible fade show d-flex justify-content-between align-items-center p-3 ps-3 pe-3"
    role="alert"
  >
    <span>
      <strong
        ><i class="bi bi-info-circle-fill me-2 text-capitalize"></i>
      </strong>
      {{ alert_message }}
    </span>
    <button
      (click)="closeAlert()"
      mat-icon-button
      type="button"
      class="m-0"
      data-bs-dismiss="aler"
      aria-label="Close"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="container-fluid rounded bg-white mat-elevation-z2 mb-4 p-3">
    <span class="fs-6 fw-bold mb-3">Émission de la monnaie</span>
    <div class="row pt-3">
      <!-- stock monnaie -->
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Stock monnaie (XAF)</mat-label>
          <input
            matInput
            placeholder="0.00"
            [(ngModel)]="stockmonnaie"
            [value]="stockmonnaie | numberFormatter"
            ngModel
            readonly
          />
        </mat-form-field>
      </div>

      <!-- stock DirectCash -->
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Stock DirectCash (XAF)</mat-label>
          <input
            matInput
            placeholder="0.00"
            [(ngModel)]="stockdirectcash"
            ngModel
            readonly
          />
          <button
            (click)="openStockDirectCashDialog()"
            type="button"
            mat-icon-button
            matSuffix
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- stock MyDirectCash -->
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Stock MyDirectCash (XAF)</mat-label>
          <input
            matInput
            placeholder="0.00"
            [(ngModel)]="stockmydirectcash"
            ngModel
            readonly
          />
        </mat-form-field>
      </div>

      <!-- Stock service / from maviance API -->
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Stock services</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div>
      <!-- <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Solde Client MyDirectCash</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Stock MyDirectCash</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Solde Autres Services</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div> -->
      <!-- <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Commissions générées</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div> -->
    </div>
  </div>

  <div class="mat-elevation-z2">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Loader de chargement du contenu du tableau -->
      <div
        class="d-{{ display }} align-items-center justify-content-center pb-3"
      >
        <mat-spinner diameter="25" class="me-3"></mat-spinner>
        Chargement...
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- stock Column -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
      </ng-container>

      <!-- montant Column -->
      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef>Montant (UVE)</th>
        <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
      </ng-container>

      <!-- affecteLe Column -->
      <ng-container matColumnDef="affecteLe">
        <th mat-header-cell *matHeaderCellDef>Affecté le</th>
        <td mat-cell *matCellDef="let element">{{ element.affecteLe }}</td>
      </ng-container>

      <!-- affectePar Column -->
      <ng-container matColumnDef="affectePar">
        <th mat-header-cell *matHeaderCellDef>Affecté par</th>
        <td mat-cell *matCellDef="let element">{{ element.affectePar }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
