<app-base></app-base>

<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Gestion de la monnaie</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Gestion de la monnaie</a>
          </li>
          <li class="breadcrumb-item active">Emmission de la monnaie</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="container-fluid rounded bg-white mat-elevation-z2 mb-4 p-3">
    <span class="fs-6 fw-bold mb-3">Emmission de la monnaie</span>
    <div class="row pt-3">
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Stock monnaie (XAF)</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Solde Transfert DirectCash</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Solde client MyDirectCash</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Stock MyDirectCash</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Solde Autres Services</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Commissions générées</mat-label>
          <input matInput placeholder="0.00" ngModel readonly />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Solde courant Column -->
      <ng-container matColumnDef="Solde courant">
        <th mat-header-cell *matHeaderCellDef>Solde courant</th>
        <td mat-cell *matCellDef="let element">{{ element.soldeCourant}}</td>
      </ng-container>

      <!-- Service Column -->
      <ng-container matColumnDef="Service">
        <th mat-header-cell *matHeaderCellDef>Service</th>
        <td mat-cell *matCellDef="let element">{{ element.service }}</td>
      </ng-container>

      <!-- Plafond (XAF) Column -->
      <ng-container matColumnDef="Plafond (XAF)">
        <th mat-header-cell *matHeaderCellDef>Plafond (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.plafond }}</td>
      </ng-container>

      <!-- Limite courante Column -->
      <ng-container matColumnDef="Limite courante (XAF)">
        <th mat-header-cell *matHeaderCellDef>Limite courante (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.limiteCourante }}</td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="Partenaire">
        <th mat-header-cell *matHeaderCellDef>Partenaire</th>
        <td mat-cell *matCellDef="let element">{{ element.nomPartenaire }}</td>
      </ng-container>
      
      <!-- Dernière recharge Column -->
      <ng-container matColumnDef="Dernière recharge">
        <th mat-header-cell *matHeaderCellDef>Dernière recharge</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateRecharge }}
        </td>
      </ng-container>

      <!-- Statut Column -->
      <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.statut }}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef style="width: 100px">Actions</th>
        <td mat-cell *matCellDef="let element" style="width: 100px">
          <ul class="list-group list-group-horizontal" style="max-width: 100px">
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="open_edit_plafond_dialog(element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #02c29c36"
              >
                <mat-icon style="color: #02c29c">edit</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
