<app-base></app-base>

<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Gestion de la monnaie</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Gestion de la monnaie</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/gestion-monnaie/crediter-super-agent"
              >Créditer un super agent</a
            >
          </li>
          <li class="breadcrumb-item active">Validation</li>
        </ol>
      </nav>
    </div>

    <div>
      <a routerLink="/gestion-monnaie/crediter-super-agent" title="Annuler">
        <button mat-raised-button class="primary-light-button text-center me-2">
          <mat-icon class="me-0">close</mat-icon>
        </button>
      </a>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="mat-elevation-z2 rounded">
    <div
      class="container-fluid pt-3 pb-3 mb-0 d-flex justify-content-center"
      style="background: white"
    >
      <form class="mt-4 text-center col-md-8">
        <h5 align="start">Vérifier les informations avant de valider</h5>
        <hr class="pt-1 mt-1" />
        <p class="mb-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>ID</mat-label>
            <input matInput placeholder="ID" readonly />
          </mat-form-field>
        </p>

        <p class="mb-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" readonly />
          </mat-form-field>
        </p>

        <p class="mb-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Solde courant (XAF)</mat-label>
            <input matInput placeholder="0.00" readonly />
          </mat-form-field>
        </p>

        <p class="mb-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Agence</mat-label>
            <input matInput placeholder="Agence" readonly />
          </mat-form-field>
        </p>

        <div class="row mb-3">
          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Montant à créditer (XAF)</mat-label>
            <input matInput required="" type="number" placeholder="0.00"/>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Mot de passe</mat-label>
            <input
              required
              name="password"
              ngModel
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
            />
            <mat-icon matPrefix>lock</mat-icon>
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

        </div>

        <div align="start">
          <button mat-button class="primary-light-button me-2">Valider</button>

          <a routerLink="/gestion-monnaie/approvisionner-agence">
            <button mat-button class="primary-dark-button">Annuler</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
