<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4">Exporter la liste {{title}}</span>
  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography pb-1 p-3 pt-1">
  <p>
    <mat-form-field class="w-100 rounded small">
      <mat-label>Selectionner le format</mat-label>
      <mat-select [(ngModel)]="data">
        <mat-option value="1">CSV</mat-option>
        <mat-option value="2">EXCEL</mat-option>
        <mat-option value="3">PDF</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="w-100 primary-dark-button"
    mat-button
    [mat-dialog-close]="data"
  >
    Exporter
  </button>
</mat-dialog-actions>
