<app-base></app-base>

<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Rapports</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Rapports</a>
          </li>
          <li class="breadcrumb-item active">Recharges MyDirectCash POS</li>
        </ol>
      </nav>
    </div>

    <div class="d-sm-flex" style="min-height: 60px;">
      <div class="input-group">
        <input
          type="date"
          class="form-control h-100"
          placeholder="Username"
          aria-label="Username"
        />
        <span class="input-group-text h-100">à</span>
        <input
          type="date"
          class="form-control h-100"
          placeholder="Server"
          aria-label="Server"
        />
      </div>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <div class="row">
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Total transaction</mat-label>
          <input
            matInput
            placeholder="0"
            readonly
            />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Transactions réussies</mat-label>
          <input
            matInput
            placeholder="0"
            readonly
            />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Transactions échouées</mat-label>
          <input
            matInput
            placeholder="0"
            readonly
            />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-md-3">
          <mat-label>Transactions en attente</mat-label>
          <input
            matInput
            placeholder="0"
            readonly
            />
        </mat-form-field>
      </div>
    </div>

    <div class="container-fluid pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">

      <!-- Agent Column -->
      <ng-container matColumnDef="Agent">
        <th mat-header-cell *matHeaderCellDef>Agent</th>
        <td mat-cell *matCellDef="let element">{{ element.agent }}</td>
      </ng-container>

      <!-- ID transaction Column -->
      <ng-container matColumnDef="ID Transaction">
        <th mat-header-cell *matHeaderCellDef>ID Transaction</th>
        <td mat-cell *matCellDef="let element">{{ element.id_transaction }}</td>
      </ng-container>

      <!-- PTN Column -->
      <ng-container matColumnDef="PTN">
        <th mat-header-cell *matHeaderCellDef>PTN</th>
        <td mat-cell *matCellDef="let element">{{ element.ptn }}</td>
      </ng-container>

      <!-- Montant (XAF) Column -->
      <ng-container matColumnDef="Montant (XAF)">
        <th mat-header-cell *matHeaderCellDef>Montant (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.montant }}</td>
      </ng-container>

      <!-- Frais (XAF) Column -->
      <ng-container matColumnDef="Frais (XAF)">
        <th mat-header-cell *matHeaderCellDef>Frais (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.frais }}</td>
      </ng-container>

      <!-- Statut Column -->
      <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.statut }}</td>
      </ng-container>

      <!-- Effectuée le Column -->
      <ng-container matColumnDef="Effectuée le">
        <th mat-header-cell *matHeaderCellDef>Effectuée le</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
