<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4" [hidden]="mode == 'add'">Editer une habilitation</span>
  <span class="me-4" [hidden]="mode == 'edit'">Ajouter une habilitation</span>

  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography pb-1 p-3 pt-1">
  <form #form="ngForm">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Intitulé</mat-label>
        <input
          matInput
          required
          type="text"
          placeholder="Intitulé"
          ngModel
          name="label"
          [(ngModel)]="data.label"
          [value]="data.label"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input
          matInput
          required
          type="text"
          placeholder="Intitulé"
          ngModel
          name="description"
          [(ngModel)]="data.description"
          [value]="data.description"
        />
    </mat-form-field>

     <!---      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Habilitation</mat-label>
        <mat-select
          name="habilitationFrom"
          [(ngModel)]="data.habilitationFrom"
          ngModel
          
          
        >
          <mat-option
            *ngFor="let habili of this.habilitation"
            [value]="habili.idhabilitation"
            >{{ habili.label }}</mat-option
          >
        </mat-select>
      </mat-form-field> -->
    
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          required
          type="text"
          placeholder="Mot de passe"
          ngModel
          name="pass"
          [(ngModel)]="data.pass"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="w-100 primary-light-button"
    mat-button
    [mat-dialog-close]="valide()"
  >
    Sauvegarder
  </button>
</mat-dialog-actions>
