<app-base></app-base>

<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Administration</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Administration</a>
          </li>
          <li class="breadcrumb-item active">Gestion des fonctionnalités</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="bg-white mat-elevation-z2 rounded">

    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Menu Column -->
      <ng-container matColumnDef="Menu">
        <th mat-header-cell *matHeaderCellDef>Menu</th>
        <td mat-cell *matCellDef="let element">{{ element.menu }}</td>
      </ng-container>

      <!-- Sous - menu Column -->
      <ng-container matColumnDef="Sous - menu">
        <th mat-header-cell *matHeaderCellDef>Sous - menu</th>
        <td mat-cell *matCellDef="let element">{{ element.label }}</td>
      </ng-container>

      <!-- Accéssible à Column -->
      <ng-container matColumnDef="Accéssible à">
        <th mat-header-cell *matHeaderCellDef>Accéssible à</th>
        <td mat-cell *matCellDef="let element">{{ element.accessibilite}} Profil(s)</td>
      </ng-container>
      <!-- Statut à Column -->
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.status}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef style="width: 100px">Action</th>
        <td
          mat-cell
          *matCellDef="let element"
          style="width: 100px"
        >
          <ul class="list-group list-group-horizontal" style="max-width: 100px">
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                title="Consulter les details"
                (click)="detail_fonctionnalite(element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #e6e6e6"
              >
                <mat-icon style="color: #5e5e5e">visibility</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
