<div
  class="fw-bold text-start d-flex pt-2 pb-3 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4" [hidden]="object == 'super-agent'"
    >Approvisionner une agence</span
  >
  <span class="me-4" [hidden]="object == 'agence'"
    >Créditer un distributeur</span
  >

  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography pb-1 p-3 pt-1">
  <form #form="ngForm">
    <div class="row">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Merchant</mat-label>
        <mat-select
          name="merchant"
          [(ngModel)]="id"
          ngModel
          [errorStateMatcher]="matcher"
          [formControl]="merchantControl"
        >
          <mat-option
            *ngFor="let merchant of merchants"
            [value]="merchant.merchantID"
            >{{ merchant.merchantName }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Montant (XAF)</mat-label>
        <input
          matInput
          required
          type="number"
          name="montant"
          ngModel
          [(ngModel)]="amount"
          [errorStateMatcher]="matcher"
          [formControl]="amountControl"
          placeholder="500.00"
          ngModel
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input
          name="password"
          matInput
          required
          ngModel
          [(ngModel)]="password"
          [errorStateMatcher]="matcher"
          [formControl]="passwordControl"
          placeholder="Mot de passe"
          ngModel
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="w-100  {{
      passwordControl.invalid ||
      merchantControl.invalid ||
      amountControl.invalid
        ? ''
        : 'primary-light-button'
    }}"
    mat-raised-button
    (click)="valide()"
    [disabled]="
      passwordControl.invalid ||
      merchantControl.invalid ||
      amountControl.invalid
    "
  >
    Continuer
  </button>
</mat-dialog-actions>
