<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-md-flex justify-content-between align-items-center">
    <div>
      <h1>Tarifaire</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Tarifaire</a>
          </li>
          <li class="breadcrumb-item active">Commission par service</li>
        </ol>
      </nav>
    </div>

    <div class="d-sm-flex">
      <button
        (click)="open_add_commission_dialog('add', {})"
        mat-raised-button
        class="primary-light-button text-center me-2 w-100 mb-3 mb-sm-0 mb-md-0 mb-lg-0 mb-xl-0"
      >
        Nouvelle commission
      </button>

      <div class="input-group">
        <input
          type="date"
          class="form-control h-100"
          placeholder="Username"
          aria-label="Username"
        />
        <span class="input-group-text h-100">@</span>
        <input
          type="date"
          class="form-control h-100"
          placeholder="Server"
          aria-label="Server"
        />
      </div>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Loader pour les requetes -->
  <mat-progress-bar
    mode="indeterminate"
    [hidden]="isProgressHidden"
  ></mat-progress-bar>

  <!-- Alert section -->
  <div
    id="alert"
    class="d-none alert alert-{{
      alert_type
    }} alert-dismissible fade show d-flex justify-content-between align-items-center p-2 ps-3 pe-3"
    role="alert"
  >
    <span>
      <strong
        ><i class="bi bi-info-circle-fill me-2 text-capitalize"></i>
        {{ alert_type }} !</strong
      >
      {{ alert_message }}
    </span>
    <button
      (click)="closeAlert()"
      mat-icon-button
      type="button"
      class="m-0"
      data-bs-dismiss="aler"
      aria-label="Close"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Loader de chargement du contenu du tableau -->
      <div
        class="d-{{ display }} align-items-center justify-content-center pb-3"
      >
        <mat-spinner diameter="25" class="me-3"></mat-spinner>
        Chargement...
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Type d'utilsateur Column -->
      <ng-container matColumnDef="Type d'utilisateur">
        <th mat-header-cell *matHeaderCellDef>Type d'utilsateur</th>
        <td mat-cell *matCellDef="let element">
          {{ element.beneficiaire }}
        </td>
      </ng-container>

      <!-- Taux (%) Column -->
      <ng-container matColumnDef="Taux (%)">
        <th mat-header-cell *matHeaderCellDef>Taux (%)</th>
        <td mat-cell *matCellDef="let element">{{ element.valeur }}</td>
      </ng-container>

      <!-- Type de service Column -->
      <ng-container matColumnDef="Type de service">
        <th mat-header-cell *matHeaderCellDef>Type de service</th>
        <td mat-cell *matCellDef="let element">{{ element.service }}</td>
      </ng-container>

      <!-- Crée le Column -->
      <ng-container matColumnDef="Crée le">
        <th mat-header-cell *matHeaderCellDef>Crée le</th>
        <td mat-cell *matCellDef="let element">{{ element.creerLe }}</td>
      </ng-container>

      <!-- Modifié le Column -->
      <ng-container matColumnDef="Modifié le">
        <th mat-header-cell *matHeaderCellDef>Modifié le</th>
        <td mat-cell *matCellDef="let element">{{ element.modifierLe }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef style="width: 180px">Actions</th>
        <td
          colspan="3"
          class=""
          mat-cell
          *matCellDef="let element"
          style="width: 180px"
        >
          <ul class="list-group list-group-horizontal" style="max-width: 180px">
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="open_add_commission_dialog('edit', element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #02c29c36"
              >
                <mat-icon style="color: #02c29c">edit</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="open_del_commission_dialog()"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #f60d2b4d"
              >
                <mat-icon style="color: #f60d2b">cancel</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-0 ps-0">
              <button
                (click)="open_add_commission_dialog('show', element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #e6e6e6"
              >
                <mat-icon style="color: #5e5e5e">visibility</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
