<!-- ======= Navbar ======= -->
<header
  id="header"
  class="header fixed-top d-flex align-items-center mat-elevation-z4"
>
  <div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center justify-content-center">
      <img src="assets/images/large_alliance_icon.svg" alt="" />
    </a>
    <button class="" type="button" mat-icon-button (click)="toggle_side_bar()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
  </div>
  <!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
          <i class="bi bi-bell"></i>
          <span class="badge bg-danger badge-number">4</span> </a
        ><!-- End Notification Icon -->

        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications mat-elevation-z4"
        >
          <li class="dropdown-header">
            You have 4 new notifications
            <a href="#"
              ><span class="badge rounded-pill bg-primary p-2 ms-2"
                >View all</span
              ></a
            >
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 min. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 hr. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 hrs. ago</p>
            </div>
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="dropdown-footer">
            <a href="#">Show all notifications</a>
          </li>
        </ul>
        <!-- End Notification Dropdown Items -->
      </li>
      <!-- End Notification Nav -->

      <li class="nav-item dropdown pe-3">
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
          <img
            src="assets/images/profile.png"
            alt="Profile"
            class="rounded-circle"
          />
          <span class="d-none d-md-block dropdown-toggle ps-2"
            >C. Tabetsing</span
          > </a
        ><!-- End Profile Iamge Icon -->

        <ul
          class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile mat-elevation-z4"
        >
          <li class="dropdown-header">
            <h6>Chretien Tabetsing</h6>
            <span>Superviseur</span>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              href="users-profile.html"
            >
              <i class="bi bi-person"></i>
              <span>Mon profile</span>
            </a>
          </li>

          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <button
              class="dropdown-item d-flex align-items-center"
              (click)="logout()"
            >
              <i class="bi bi-box-arrow-right"></i>
              <span>Deconnexion</span>
            </button>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar mat-elevation-z4">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/dashboard"
        routerLinkActive="active-router-link"
      >
        <mat-icon class="me-2">dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        routerLink="/gestion-agents"
        routerLinkActive="active-router-link"
        class="nav-link collapsed"
        data-bs-target="#gestion-agents-nav"
        data-bs-toggle="collapse"
      >
        <mat-icon class="me-2">podcasts</mat-icon>
        <span>Gestion des Agents</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="gestion-agents-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a routerLink="/gestion-agents/agents" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Agents</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/gestion-agents/super-agents"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Super Agents</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/gestion-agents/distributeurs"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Distributeurs</span>
          </a>
        </li>
        <!-- <li>
          <a routerLink="/gestion-agents/top-agents" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Top Agents</span>
          </a>
        </li> -->
      </ul>
    </li>
    <!-- End Gestion des Agents Nav -->

    <li class="nav-item">
      <a
        routerLink="/gestion-clients"
        routerLinkActive="active-router-link"
        class="nav-link nav-link collapsed"
        data-bs-target="#gestion-clients-nav"
        data-bs-toggle="collapse"
      >
        <mat-icon class="me-2">people</mat-icon>
        <span>Gestion des Clients</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="gestion-clients-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a
            routerLink="/gestion-clients/clients-mydirectcash"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Clients MyDirectCash</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/gestion-clients/transactions-mydirectcash"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Trans. MyDirectCash</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Gestion des clients Nav -->

    <li class="nav-item">
      <a
        routerLink="/gestion-monnaie"
        routerLinkActive="active-router-link"
        class="nav-link collapsed"
        data-bs-target="#gestion-monnaie-nav"
        data-bs-toggle="collapse"
      >
        <mat-icon class="me-2">paid</mat-icon>
        <span>Gestion de la monnaie</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="gestion-monnaie-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a
            routerLink="/gestion-monnaie/approvisionner-agence"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Appr. une Agence</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/gestion-monnaie/crediter-super-agent"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Créditer un Super Agent</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/gestion-monnaie/creation-monnaie"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Émission de la monnaie</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/gestion-monnaie/requete-emission"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Requêtes d'émissions</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/gestion-monnaie/valider-recharge"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Valider une recharge</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Gestion de la monnaie Nav -->

    <li class="nav-item">
      <a
        routerLink="/rapports"
        routerLinkActive="active-router-link"
        class="nav-link nav-link collapsed"
        data-bs-target="#rapports-nav"
        data-bs-toggle="collapse"
      >
        <mat-icon class="me-2">description</mat-icon>
        <span>Rapports</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="rapports-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a routerLink="/rapports/airtime" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Airtime</span>
          </a>
        </li>
        <li>
          <a routerLink="/rapports/momo-om" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>MOMO / OM</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/rapports/transfert-argent-directcash"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Trans. d'argent DirectCash</span>
          </a>
        </li>
        <li>
          <a routerLink="/rapports/paiement-facture" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Paiement Facture</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/rapports/paiement-facture-eneo"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Paiement Facture Eneo</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/rapports/paiement-facture-camwater"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Paiement Facture Camwater</span>
          </a>
        </li>
        <li>
          <a routerLink="/rapports/paiement-marchand" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Paiement Marchand</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/rapports/recharges-mydirectcash-online"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Recharges MyDirectCash Online</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/rapports/recharges-mydirectcash-pos"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Recharges MyDirectCash POS</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Rapports Nav -->

    <li class="nav-item">
      <a
        routerLink="/tarifaire"
        routerLinkActive="active-router-link"
        class="nav-link collapsed"
        data-bs-target="#tarifaire-nav"
        data-bs-toggle="collapse"
      >
        <mat-icon class="me-2">trending_up</mat-icon>
        <span>Tarifaire</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tarifaire-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a
            routerLink="/tarifaire/commission-par-service"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Commission par service</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/tarifaire/grille-transfert-directcash"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Grille de Transfert d'argent DirectCash</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/tarifaire/grille-transfert-directcash-internationale"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Grille de Transfert d'argent DirectCash Internationale</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/tarifaire/grille-transfert-mydirectcash"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Grille de Transfert d'argent MyDirectCash</span>
          </a>
        </li>
        <!-- <li>
          <a
            routerLink="/tarifaire/grille-tarifaire-paiement-facture"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Grille tarifaire de paiement factures</span>
          </a>
        </li> -->

        <li>
          <a
            routerLink="/tarifaire/grille-tarifaire-paiement-facture-eneo"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Grille Tarifaire de Paiement Factures Eneo</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/tarifaire/grille-tarifaire-paiement-facture-camwater"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Grille Tarifaire de Paiement Factures Camwater</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/tarifaire/grille-tarifaire-paiement-marchand"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i
            ><span>Grille Tarifaire de Paiement Marchand</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Tarifaire Nav -->

    <li class="nav-item">
      <a
        routerLink="/administration"
        routerLinkActive="active-router-link"
        class="nav-link nav-link collapsed"
        data-bs-target="#administration-nav"
        data-bs-toggle="collapse"
      >
        <mat-icon class="me-2">settings</mat-icon>
        <span>Administration</span>
        <i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="administration-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a routerLink="/administration/agences" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Les Agences</span>
          </a>
        </li>
        <li>
          <a routerLink="/administration/entreprises" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Les Entreprises</span>
          </a>
        </li>
        <li>
          <a routerLink="/administration/admins" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Utilisateurs de la plateforme</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/administration/gestion-habilitations"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Gestion des Habilitations</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/administration/gestion-fonctionnalites"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Gestion des Fonctionnalités</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/administration/gestion-reclamations"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Gestion des Réclamations</span>
          </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Paiement</span> </a>
        </li>
        <li>
          <a
            routerLink="/administration/etapes-validation"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Etapes de Validation</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/administration/changer-mot-de-passe"
            routerLinkActive="active"
          >
            <i class="bi bi-circle"></i><span>Changer mon mot de passe</span>
          </a>
        </li>
        <li>
          <a routerLink="/administration/mouchard" routerLinkActive="active">
            <i class="bi bi-circle"></i><span>Mouchard</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Administration Nav -->
  </ul>
  <div
    class="text-uppercase text-center text-secondary pt-3"
    style="font-size: smaller"
  >
    @2023 alliance financial <br />
    Cameroun sa all right reserved
  </div>
</aside>
<!-- End Sidebar-->

<!-- <router-outlet></router-outlet> -->
