:root {
  scroll-behavior: smooth;
  --primary-light-color: #3090AB;
  --secondary-light-color: #003341;
  --tertiary-light-color: #74acbb;
  --primary-dark-color: #1D1D1D;
  --secondary-dark-color: #49454F;
  --tertiary-dark-color: #7c7c7c;
  --danger-color: #F60D2B;
  --oragne-color: #FF4D00;
  --violet-color: #D50DF6;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: var(--primary-light-color);
}

::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--primary-light-color);
}
