<app-base></app-base>

<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Administration</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Administration</a>
          </li>
          <li class="breadcrumb-item active">Mouchard</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Loader de chargement du contenu du tableau -->
      <div
        class="d-{{ display }} align-items-center justify-content-center pb-3"
      >
        <mat-spinner diameter="25" class="me-3"></mat-spinner>
        Chargement...
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Utilisateur Column -->
      <ng-container matColumnDef="Utilisateur">
        <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
        <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
      </ng-container>

      <!-- Profil de l'utilisateur Column -->
      <ng-container matColumnDef="Profil de l'utilisateur">
        <th mat-header-cell *matHeaderCellDef>Profil de l'utilisateur</th>
        <td mat-cell *matCellDef="let element">{{ element.profil }}</td>
      </ng-container>

      <!-- Activité le Column -->
      <ng-container matColumnDef="Activité">
        <th mat-header-cell *matHeaderCellDef>Activité</th>
        <td mat-cell *matCellDef="let element">{{ element.activity }}</td>
      </ng-container>
      <!-- Activité le Column -->
      <ng-container matColumnDef="Module">
        <th mat-header-cell *matHeaderCellDef>Module</th>
        <td mat-cell *matCellDef="let element">{{ element.moduleName }}</td>
      </ng-container>

      <!-- Date & heure Column -->
      <ng-container matColumnDef="Date & heure">
        <th mat-header-cell *matHeaderCellDef>Date & heure</th>
        <td mat-cell *matCellDef="let element">{{ element.dateCreated }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef style="width: 100px">Actions</th>
        <td
          colspan="3"
          class=""
          mat-cell
          *matCellDef="let element"
          style="width: 100px"
        >
          <ul class="list-group list-group-horizontal" style="max-width: 100px">
            <li class="list-group-item border-0 pe-0 ps-0">
              <button
                (click)="show_information()"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #e6e6e6"
              >
                <mat-icon style="color: #5e5e5e">visibility</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
