<!-- Header -->
<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4" [hidden]="mode == 'edit' || mode == 'show'"
    >Ajouter un utilisateur</span
  >
  <span class="me-4" [hidden]="mode == 'add' || mode == 'show'"
    >Editer un utilisateur</span
  >
  <span class="me-4" [hidden]="mode == 'add' || mode == 'edit'"
    ><strong>Consulter les informations </strong></span
  >
  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>

<!-- Content -->
<mat-dialog-content class="mat-typography pb-1 p-3 pt-1">
 
  <!-- Nom -->
  <div class="row">
    <div class="col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Nom</mat-label>
        <input
          matInput
          placeholder="Entrez le nom de l'utilisateur"
          [errorStateMatcher]="matcher"
          [formControl]="nomFormControl"
          [(ngModel)]="user.fullName"
          [readonly]="mode == 'show'"
        />
      </mat-form-field>
    </div>
  </div>

  <!-- Adresse Email -->
  <!-- <div class="col-md-12">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Adresse Email</mat-label>
      <input
        required
        matInput
        placeholder="exemple@gmail.com"
        [errorStateMatcher]="matcher"
        [formControl]="emailFormControl"
        inputmode="email"
        ngModel
        [(ngModel)]="user.email"
        [readonly]="mode == 'show'"
      />
    </mat-form-field>
  </div> -->

  <div class="row">
    <!-- Habilitation -->
    <div class="col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Habilitation</mat-label>
        <mat-select
          name="habilitation"
          placeholder="Selectionner une habilitation"
          [(ngModel)]="user.habilitation"
          [errorStateMatcher]="matcher"
          [formControl]="habilitationControl"
        >
          <mat-option
            *ngFor="let habilitation of habilitations"
            [value]="habilitation.idhabilitation"
            >{{ habilitation.label }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>


      <!-- Role -->
      <div class="col-md-12">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select
            name="Role"
            placeholder="Selectionner une Role"
            [(ngModel)]="user.Role"
           
          >
            <mat-option
              *ngFor="let habilitation of roles"
              [value]="habilitation.RoleName"
              >{{ habilitation.RoleName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input
            matInput
            placeholder="Cliquer à droite pour générer"
            [errorStateMatcher]="matcher"
            [formControl]="passwordControl"
            [(ngModel)]="user.defaultPassword"
            [readonly]="true"
          />
  
          <!-- generate button -->
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="generatePassword()"
          >
            <mat-icon>sync</mat-icon>
          </button>
        </mat-form-field>
      </div>
     
    
  

    
  </div>

  <!-- <div class="row"> -->
  <!-- Sexe -->
  <!-- <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Sexe</mat-label>
        <mat-select
          name="sexe"
          ngModel
          [(ngModel)]="user.sexe"
          [disabled]="mode == 'show'"
        >
          <mat-option value="Masculin">Masculin</mat-option>
          <mat-option value="Féminin">Féminin</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
  <!-- </div> -->

  <!-- <div class="row">
    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Téléphone</mat-label>
        <input
          required
          matInput
          placeholder="Téléphone"
          name="tel"
          ngModel
          [(ngModel)]="user.tel"
          [readonly]="mode == 'show'"
        />
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Adresse</mat-label>
        <input
          required
          type="text"
          matInput
          placeholder="Pays (ville, quartier)"
          name="adresse"
          ngModel
          [(ngModel)]="user.adresse"
          [readonly]="mode == 'show'"
        />
      </mat-form-field>
    </div>
  </div> -->

  <div class="row d-none">
    <!-- Nom d'utilisateur -->
    <div class="col-md-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          required
          matInput
          placeholder="Nom d'utilisateur"
          [(ngModel)]="user.fullName"
          [readonly]="mode == 'show'"
        />
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<!-- Button action -->
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="primary-light-button"
    mat-button
    (click)="validate()"
    [hidden]="mode == 'show'"
  >
    Enregistrer
  </button>

  <button class="primary-dark-button" mat-button [mat-dialog-close]="false">
    Annuler
  </button>
</mat-dialog-actions>
