<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Administration</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Administration</a>
          </li>
          <li class="breadcrumb-item active">Utilisateurs de la plateforme</li>
        </ol>
      </nav>
    </div>

    <div>
      <button
        (click)="open_admin_dialog('add', {})"
        mat-raised-button
        title="Ajouter un administrateur"
        class="primary-light-button text-center me-2"
      >
        <mat-icon class="me-0">add</mat-icon>
      </button>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Loader pour les requetes -->
  <mat-progress-bar
    mode="indeterminate"
    [hidden]="isProgressHidden"
  ></mat-progress-bar>

  <!-- Alert section -->
  <div
    id="alert"
    class="d-none alert alert-{{
      alert_type
    }} alert-dismissible fade show d-flex justify-content-between align-items-center p-2 ps-3 pe-3"
    role="alert"
  >
    <span>
      <strong
        ><i class="bi bi-info-circle-fill me-2 text-capitalize"></i>
      </strong>
      {{ alert_message }} <br />
    </span>
    <button
      (click)="closeAlert()"
      mat-icon-button
      type="button"
      class="m-0"
      data-bs-dismiss="aler"
      aria-label="Close"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Loader de chargement du contenu du tableau -->
      <div
        class="d-{{ display }} align-items-center justify-content-center pb-3"
      >
        <mat-spinner diameter="25" class="me-3"></mat-spinner>
        Chargement...
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Nom Column -->
      <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
      </ng-container>

      <!-- Habilitation Column -->
      <ng-container matColumnDef="Habilitation">
        <th mat-header-cell *matHeaderCellDef>Habilitation</th>
        <td mat-cell *matCellDef="let element">{{ element.habilitation }}</td>
      </ng-container>

      <!-- Statut Column -->
      <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">
          {{ element.isActive === "True" ? "connecté" : "deconecté" }}
        </td>
      </ng-container>

      <!-- Dernière connexion Column -->
      <ng-container matColumnDef="Dernière connexion">
        <th mat-header-cell *matHeaderCellDef>Dernière connexion</th>
        <td mat-cell *matCellDef="let element">{{ element.lastConnection }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef style="width: 200px">Actions</th>
        <td
          colspan="4"
          class=""
          mat-cell
          *matCellDef="let element"
          style="width: 200px"
        >
          <ul class="list-group list-group-horizontal" style="max-width: 200px">
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="open_admin_dialog('edit', element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #02c29c36"
              >
                <mat-icon style="color: #02c29c">edit</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="open_del_admin_dialog()"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #f60d2b4d"
              >
                <mat-icon style="color: #f60d2b">delete</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="open_admin_dialog('show', element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #e6e6e6"
              >
                <mat-icon style="color: #5e5e5e">visibility</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-0 ps-0">
              <button
                (click)="reset_password(element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #e6e6e6"
              >
                <mat-icon style="color: #5e5e5e">refresh</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
