<div
  class="fw-bold text-start d-flex pt-2 pb-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4">Ajouter une fonctionnalité pour ce profil</span>

  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography pb-1 p-3 pt-1">
  <form #form="ngForm">
    <div class="row">
      <mat-form-field class="w-100">
        <mat-label>Fonctionnalité</mat-label>
        <mat-select required placeholder="Selectionner une fonctionnalité">
          <!-- On va lister les fonctionnalites ici -->
          <mat-option value="1">Gestion des Agents - Agents</mat-option>
          <mat-option value="2"
            >Administration - Gestion des habilitations</mat-option
          >
          <mat-option value="3">Gestion des Agents - Super Agents</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Habilitations</mat-label>
        <mat-select required placeholder="Selectionner une Habilitations" name="habilitation"  [(ngModel)]="datas.habilitation">
          <mat-option
          *ngFor="let hab of habilitation"
          [value]="hab.idhabilitation"
          >{{ hab.label}}</mat-option
        >
        </mat-select>
      </mat-form-field>
      
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button
    class="w-100 primary-light-button"
    mat-button
    [mat-dialog-close]="true"
    (click)="addOption()"
  >
    Continuer
  </button>
</mat-dialog-actions>
