<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link">
        <!-- <mat-icon class="me-2">home</mat-icon> -->
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#gestion-agents-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Gestion des Agents</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="gestion-agents-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a> <i class="bi bi-circle"></i><span>Agents</span> </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Super Agents</span> </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Distributeurs</span> </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Top Agents</span> </a>
        </li>
      </ul>
    </li>
    <!-- End Gestion des Agents Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#gestion-clients-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Gestion des clients</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="gestion-clients-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a> <i class="bi bi-circle"></i><span>Clients MyDirectCash</span> </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Trans. MyDirectCash</span> </a>
        </li>
      </ul>
    </li>
    <!-- End Gestion des clients Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#gestion-monnaie-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Gestion de la monnaie</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="gestion-monnaie-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a> <i class="bi bi-circle"></i><span>Appr. une Agence</span> </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Créditer un super Agent</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Emission de la monnaie</span>
          </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Valider une recharge</span> </a>
        </li>
      </ul>
    </li>
    <!-- End Gestion de la monnaie Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#rapports-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Rapports</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="rapports-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a> <i class="bi bi-circle"></i><span>Airtime</span> </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>MOMO / OM</span> </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Trans. d'argent DirectCash</span>
          </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Paiement facture</span> </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Paiement marchand</span> </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i
            ><span>Recharges MyDirectCash Online</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Recharges MyDirectCash POS</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Rapports Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tarifaire-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Tarifaire</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tarifaire-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Commission par service</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i
            ><span>Grille de transfert d'argent DirectCash</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i
            ><span>Grille de transfert d'argent MyDirectCash</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i
            ><span>Grille tarifaire de paiement factures</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i
            ><span>Grille tarifaire de Paiement marchand</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- End Tarifaire Nav -->

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#administration-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-menu-button-wide"></i><span>Administration</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="administration-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a> <i class="bi bi-circle"></i><span>Les agences</span> </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Utilisateurs de la plateforme</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Gestion des habilitations</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Gestion des fonctionnalités</span>
          </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Etapes de validation</span> </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i
            ><span>Rénitialiser le mot de passe agent</span>
          </a>
        </li>
        <li>
          <a>
            <i class="bi bi-circle"></i><span>Changer mon mot de passe</span>
          </a>
        </li>
        <li>
          <a> <i class="bi bi-circle"></i><span>Mouchard</span> </a>
        </li>
      </ul>
    </li>
    <!-- End Administration Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
