<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Gestion de la monnaie</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Gestion de la monnaie</a>
          </li>
          <li class="breadcrumb-item active">Requête d'émission</li>
        </ol>
      </nav>
    </div>

    <div>
      <!-- <button
        (click)="open_requete_dialog('add', nouvelle_requete)"
        mat-raised-button
        class="primary-light-button text-center me-2"
      >
        Nouvelle requête
      </button>
      <button mat-raised-button class="primary-dark-button text-center">
        Exporter
      </button>
    </div>
  </div>
  <!-- End Page Title -->

  <!-- Loader pour les requetes -->
  <mat-progress-bar
    mode="indeterminate"
    [hidden]="isProgressHidden"
  ></mat-progress-bar>

  <!-- Alert section -->
  <div
    id="alert"
    class="d-none alert alert-{{
      alert_type
    }} alert-dismissible fade show d-flex justify-content-between align-items-center p-3 ps-3 pe-3"
    role="alert"
  >
    <span>
      <strong
        ><i class="bi bi-info-circle-fill me-2"></i> {{ alert_type }}!</strong
      >
      {{ alert_message }}
    </span>
    <button
      (click)="closeAlert()"
      mat-icon-button
      type="button"
      class="m-0"
      data-bs-dismiss="aler"
      aria-label="Close"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <!-- Loader de chargement du contenu du tableau -->
      <div
        class="d-{{ display }} align-items-center justify-content-center pb-3"
      >
        <mat-spinner diameter="25" class="me-3"></mat-spinner>
        Chargement...
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Montant (XAF) Column -->
      <ng-container matColumnDef="Montant (XAF)">
        <th mat-header-cell *matHeaderCellDef>Montant (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.montant }}</td>
      </ng-container>

      <!-- Statut Column -->
      <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.statut }}</td>
      </ng-container>

      <!-- Crée par Column -->
      <ng-container matColumnDef="Crée par">
        <th mat-header-cell *matHeaderCellDef>Crée par</th>
        <td mat-cell *matCellDef="let element">{{ element.id_creer_pa }}</td>
      </ng-container>

      <!-- Crée le Column -->
      <ng-container matColumnDef="Crée le">
        <th mat-header-cell *matHeaderCellDef>Crée le</th>
        <td mat-cell *matCellDef="let element">{{ element.cree_le }}</td>
      </ng-container>

      <!-- Traité par Column -->
      <ng-container matColumnDef="Traité par">
        <th mat-header-cell *matHeaderCellDef>Traité par</th>
        <td mat-cell *matCellDef="let element">{{ element.id_traiter_par }}</td>
      </ng-container>

      <!-- Traité le Column -->
      <ng-container matColumnDef="Traité le">
        <th mat-header-cell *matHeaderCellDef>Traité le</th>
        <td mat-cell *matCellDef="let element">{{ element.traiter_le }}</td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 180px">Actions</th>
        <td
          colspan="3"
          class=""
          mat-cell
          *matCellDef="let element"
          style="width: 180px"
        >
          <ul class="list-group list-group-horizontal" style="max-width: 180px">
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="valider_requete(element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #02c29c36"
              >
                <mat-icon style="color: #02c29c">check_circle</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="rejeter_requete(element)"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #f60d2b4d"
              >
                <mat-icon style="color: #f60d2b">cancel</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
