<div
  class="fw-bold text-start d-flex pt-2 ps-3 pe-3 justify-content-between align-items-center"
>
  <span class="me-4">Definir le stock {{ data.title }}</span>
  <button mat-button [mat-dialog-close]="false" class="text-center">
    <mat-icon class="me-0">close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography p-3 pb-1">
  <!-- stock monnaie restant -->

  <p class="pb-2">
    Stock de monnaie restant: <strong>{{ data.stockmonnaie_restant }}</strong>
  </p>

  <!-- montant input -->
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Montant (XAF)</mat-label>
      <input
        matInput
        required
        type="number"
        placeholder="0.00"
        [formControl]="montantFormControl"
        [errorStateMatcher]="matcher"
        ngModel
        [(ngModel)]="montant"
        ngModel
      />
    </mat-form-field>
  </div>

  <!-- display error -->
  <span *ngIf="hasError" class="text-danger small mb-1"
    >Montant invalide !
  </span>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-3 pt-1">
  <button class="w-100 primary-light-button" mat-button (click)="valid()">
    Enregistrer
  </button>
</mat-dialog-actions>
