<app-base></app-base>

<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Administration</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Administration</a>
          </li>
          <li class="breadcrumb-item active">Étapes de validation</li>
        </ol>
      </nav>
    </div>

    <div>
      <button
        (click)="open_etape_validation_dialog('add')"
        mat-raised-button
        class="primary-light-button text-center me-2"
      >
        <mat-icon class="me-2">add</mat-icon>
        <span>étape de validation</span>
      </button>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="mat-elevation-z2 rounded">
    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">
      <!-- Intitulé Column -->
      <ng-container matColumnDef="Intitulé">
        <th mat-header-cell *matHeaderCellDef>Intitulé</th>
        <td mat-cell *matCellDef="let element">{{ element.intitule }}</td>
      </ng-container>

      <!-- priorité Column -->
      <ng-container matColumnDef="Priorité">
        <th mat-header-cell *matHeaderCellDef>Priorité</th>
        <td mat-cell *matCellDef="let element">{{ element.priorite }}</td>
      </ng-container>

      <!-- Validateur Column -->
      <ng-container matColumnDef="Validateur">
        <th mat-header-cell *matHeaderCellDef>Validateur</th>
        <td mat-cell *matCellDef="let element">{{ element.validateur }}</td>
      </ng-container>

      <!-- Service Column -->
      <ng-container matColumnDef="Service">
        <th mat-header-cell *matHeaderCellDef>Service</th>
        <td mat-cell *matCellDef="let element">{{ element.service }}</td>
      </ng-container>

      <!-- Crée le Column -->
      <ng-container matColumnDef="Creé le">
        <th mat-header-cell *matHeaderCellDef>Crée le</th>
        <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef style="width: 180px">Actions</th>
        <td
          colspan="3"
          class=""
          mat-cell
          *matCellDef="let element"
          style="width: 180px"
        >
          <ul class="list-group list-group-horizontal" style="max-width: 180px">
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="open_etape_validation_dialog('edit')"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #02c29c36"
              >
                <mat-icon style="color: #02c29c">edit</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-2 ps-0">
              <button
                (click)="del_etape_validation()"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #f60d2b4d"
              >
                <mat-icon style="color: #f60d2b">cancel</mat-icon>
              </button>
            </li>
            <li class="list-group-item border-0 pe-0 ps-0">
              <button
                (click)="open_etape_validation_dialog('show')"
                type="button"
                class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center"
                style="background: #e6e6e6"
              >
                <mat-icon style="color: #5e5e5e">visibility</mat-icon>
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
