<!-- Main -->
<main id="main" class="main">
  <div class="pagetitle d-sm-flex justify-content-between align-items-center">
    <div>
      <h1>Tarifaire</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="#">Tabetsing</a></li>
          <li class="breadcrumb-item">
            <a routerLink="#">Tarifaire</a>
          </li>
          <li class="breadcrumb-item active">Grille Tarifaire de Paiement Facture</li>
        </ol>
      </nav>
    </div>

    <div>
      <button
      title="Ajouter une grille de transfert DirectCash"
       (click)="open_add_grille_dialog('add')" mat-raised-button class="primary-light-button text-center me-2">
        <mat-icon class="me-0">add</mat-icon>
      </button>
      <button
      title="Exporter la grille de transfert DirectCash"
      mat-raised-button (click)="open_export_dialog()" class="primary-dark-button text-center">
        Exporter
      </button>
    </div>
  </div>
  <!-- End Page Title -->

  <div class="mat-elevation-z2 rounded">

    <div class="container-fluid pt-3 pb-0 mb-0" style="background: white">
      <mat-form-field appearance="outline">
        <mat-label>Recherche</mat-label>
        <input
          (keyup)="filter($event)"
          required
          matInput
          placeholder="Mot clé"
          name="input-search"
          ngModel
          #inputSearch
          required="false"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource">

      <!-- De Column -->
      <ng-container matColumnDef="De">
        <th mat-header-cell *matHeaderCellDef>De</th>
        <td mat-cell *matCellDef="let element">{{ element.min }}</td>
      </ng-container>

      <!-- A Column -->
      <ng-container matColumnDef="A">
        <th mat-header-cell *matHeaderCellDef>A</th>
        <td mat-cell *matCellDef="let element">{{ element.max }}</td>
      </ng-container>

      <!-- Frais local (XAF) Column -->
      <ng-container matColumnDef="Frais local (XAF)">
        <th mat-header-cell *matHeaderCellDef>Frais local (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.frais_local }}</td>
      </ng-container>

      <!-- Frais international (XAF) Column -->
      <ng-container matColumnDef="Frais international (XAF)">
        <th mat-header-cell *matHeaderCellDef>Frais international (XAF)</th>
        <td mat-cell *matCellDef="let element">{{ element.frais_international }}</td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef style="width: 180px;">Actions</th>
        <td colspan="3" mat-cell *matCellDef="let element" style="width: 180px;">
          <ul class="list-group list-group-horizontal" style="max-width: 180px;">
            <li class="list-group-item border-0 pe-2 ps-0"><button (click)="open_add_grille_dialog('edit')" type="button" class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center" style="background: #02C29C36;"><mat-icon style="color: #02C29C;">edit</mat-icon></button></li>
            <li class="list-group-item border-0 pe-2 ps-0"><button (click)="open_del_grille_dialog()" type="button" class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center" style="background: #F60D2B4D;"><mat-icon style="color: #F60D2B;">cancel</mat-icon></button></li>
            <li class="list-group-item border-0 pe-0 ps-0"><button (click)="open_add_grille_dialog('show')" type="button" class="shadow-sm btn action-btn p-1 d-flex align-items-center justify-content-center" style="background: #E6E6E6;;"><mat-icon style="color: #5E5E5E;">visibility</mat-icon></button></li>
          </ul>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator class="pb-2"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
